@{
	Layout = "~/shared/_Layout.cshtml";
}

<div class="container">
	<!-- Container-->
	<div class="slider" style="margin-top:20px;">
		<!-- Slider iets naar beneden gehaald met Margin.-->
		<ul class="slides">
			<li>
				<img src="~/img/slider-image1.jpg">		<!-- Tuxedo -->
			</li>
			<li>
				<img src="~/img/slider-image3.jpg" />	<!-- Dress -->
			</li>
			<li>
				<img src="~/img/slider-image2.jpg">		<!-- Cake -->
			</li>
			<li>
				<img src="~/img/slider-image4.jpg">		<!-- finally a car -->
			</li>
		</ul>
	</div>
	<div class="center-align">
		<!-- Centered de text hieronder.-->
		<p class="flow-text"><h3>Welkom bij Smoking & Dress</h3></p>
	</div>
</div>